@media (min-width: 576px) {
	.contact {
		&__info {
			flex-direction: row;
			text-align: left;
		}
	}
	.heading-box {
		width: auto;
	}
	.hero-img {
		background-image: url('../img/big-hero.jpg');
	}
	.aboutUs {
		.hero-img--2 {
			background-image: url('../img/big-hero2.jpg');
			background-attachment: fixed;
		}
		.img__container {
			img {
				width: 500px;
				height: 500px;
			}
		}
	}

	.up-box {
		position: fixed;
		right: 40px;
		bottom: 40px;
		padding: 1.5em;
	
	}
}
@media (min-width: 768px) {
	.section {
		&-title {
			&::after,
			&::before {
				width: 40%;
			}
		}
	}
	.contact {
		h3 {
			margin-bottom: 1em;
		}
		&__box {
			flex-direction: row;
			justify-content: space-evenly;
		}
	}
	.waves {
		margin-top: 0;
	}
}
@media (min-width: 850px) {
	.nav {
		&__mobile {
			display: none;
		}
		&__items {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 2em;
			height: 100%;
			font-size: clamp(1.3rem, 3vw, 1.8rem);
			z-index: 999;
		}
	}
}

@media (min-width: 1100px) {
	.aboutUs {
		&__box {
			flex-direction: row;
		}
		&__box--reverse {
			flex-direction: row-reverse;
		}
		&__img {
			width: 700px;
			height: auto;
		}
	}
}

@media (min-width: 1200px) {
	.waves-hidden {
		transform: translateY(-100%);
	}
}
