@use 'utilities' as *;

body {
	background-color: $white-color;
	background-image: url('../../dist/img/background.png');
	background-position: 0 var(--height);
	font-family: 'Montserrat', sans-serif;
	font-size: clamp(1.4rem, 5vw, 1.6rem);
	line-height: 1.6;
	color: $black-color;
	overflow-y: auto;
	animation: home 100s linear infinite;
}

@keyframes home {
	from {
		background-position: 0 , 0;
	}
	to {
		background-position: 0 var(--height);
	}
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	padding: 2em 0;
	width: 100%;
	height: 20svh;
	background-color: $main-color;
	transition: height 0.4s;
	z-index: 999;

	ul {
		list-style: none;
	}

	.menu-item {
		display: inline-block;
		cursor: default;

		.dropdown-arrow {
			width: 20px;
			height: 20px;
		}
	}

	.dropdown {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		flex-direction: column;
		z-index: 1000;

		&:first-child {
			padding-top: 2em;
		}
	}

	.dropdown a {
		display: none;
		text-align: left;
		padding: 1em 2em;
		width: 200px;
		background-color: $main-color;
		opacity: 0;
	}

	.menu-item:hover .dropdown a {
		display: block;
		animation: menu1 0.3s forwards;
	}

	@keyframes menu1 {
		from {
			opacity: 0;
			transform: rotate(36deg);
		}

		to {
			opacity: 1;
			transform: rotate(0);
		}
	}

	&__mobile {
		height: 100%;
		width: 100%;
		justify-content: space-evenly;

		&-items {
			position: fixed;
			left: 0;
			top: 0;
			flex-direction: column;
			gap: 2em;
			width: 100%;
			height: 100%;
			font-size: clamp(2.4rem, 5vw, 3.6rem);
			background-color: $main-color;
			transform: translateX(-100%);
			transition: transform 0.4s;
			z-index: 999;
		}

		&-dropdown {
			text-align: center;

			&--box {
				margin-top: 0.5em;
				flex-wrap: wrap;
			}
		}

		.active-mobile {
			transform: translateX(0);
		}

		&-burger {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0.5em 1em;
			width: 60px;
			height: 40px;
			z-index: 999;

			.bars {
				position: relative;
				width: 100%;
				height: 3px;
				border-radius: 20px;
				background-color: $black-color;

				&::before,
				&::after {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					border-radius: 20px;
					background-color: $black-color;
				}

				&::before {
					top: 10px;
					left: 0;
				}

				&::after {
					top: 20px;
					left: 0;
				}
			}
		}
	}

	&__items {
		display: none;
	}

	&__item {
		position: relative;
		padding: 0.5em 1em;

		&::after {
			@include underline($white-color);
			bottom: 0;
			left: 0;
			width: 100%;
			transform: translateY(100%);
			opacity: 0;
			transition: transform 0.3s, opacity 0.3s;
		}

		&:hover.nav__item::after {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__logo {
		padding: 0.5em;
		font-size: clamp(3rem, 5vw, 5.4rem);

		&-text {
			position: relative;

			&::after {
				@include underline($white-color);
				bottom: 0;
				right: 0;
				width: 50%;
			}
		}
	}
}

.nav-scroll {
	height: 10svh;
}

.header {
	padding-top: 20vh;
	position: relative;
	min-height: 100svh;
}

// services
.services {
	h3 {
		position: relative;
		margin: 2em 0;
		padding: 3em 0;
		font-weight: 400;
		text-align: center;
		font-size: clamp(2.5rem, 3vw, 3.2rem);
		background-color: $main-color;
		border-radius: 12px;
		overflow: hidden;
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 2em;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	&__box {
		flex-direction: column;
		line-height: 30px;
		gap: 3em;
		padding: 1em;
		width: 350px;
		background-color: $white-color;
		min-height: 200px;
		box-shadow: 0 0 4px hsla(350, 93%, 72%, 0.5);
		border-radius: 12px;
		text-align: center;
		transition: scale 0.3s, box-shadow 0.3s;

		&:hover {
			box-shadow: 0 0 5px hsl(350, 93%, 72%);
			scale: 1.1;
		}
	}
	&__title {
		font-size: clamp(1.6rem, 3vw, 2rem);
		font-weight: 400;
	}
	&__price {
		display: inline-block;
		padding: 0.5em 1em;
		border-radius: 8px;
		text-wrap: nowrap;
		font-size: clamp(1.6rem, 3vw, 1.8rem);
		border: 2px solid $secondary-color;
		color: $secondary-color;
	}
}

// about us

.aboutUs {
	background-color: $black-color;
	color: $white-color;

	h3 {
		font-size: clamp(2.2rem, 5vw, 3.2rem);
		margin-bottom: 2em;
		z-index: 2;
		line-height: 1.2;
	}

	&__box {
		flex-direction: column;
		gap: 4em;
		margin-bottom: 5em;
		height: 100%;
	}

	&__info {
		font-size: clamp(1.6rem, 5vw, 2rem);
		text-align: left;
	}

	&__img {
		width: 100%;
		height: 400px;
		object-fit: cover;
		border-radius: 12px;
	}

	.hero-img--2 {
		background-image: url('../img/small-hero2.jpg');
		background-attachment: local;
	}

	.img__container {
		margin: 5em 0;
		flex-wrap: wrap;
		gap: 3em;

		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
			object-position: center;
		}
	}

	.white__box,
	.white__box-reverse {
		background-color: $black-color;
		transform: skew(45deg);
	}
}

// kontakt

.contact {
	h3 {
		margin-bottom: 1em;
	}
	p {
		margin-bottom: 0.8em;
	}
	&__box,
	&__info,
	&__hours {
		flex-direction: column;
		gap: 3em;
		text-align: center;
	}

	&__info,
	&__hours {
		padding: 2em;
		background-color: $white-color;
		box-shadow: 0 0 4px hsla(350, 93%, 72%, 0.5);
		border-radius: 12px;
	}
	&__hours {
		gap: 1em;
		&-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}

// footer

.footer {
	position: relative;
	gap: clamp(1em, 5vw, 3em);
	flex-wrap: wrap;
	padding: 2em;
	background-color: $main-color;
	z-index: 2;
	text-align: center;

	p {
		z-index: 1;
	}

	.link {
		position: relative;
		padding: 0.5em;

		&:hover.link::before {
			height: 100%;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: $white-color;
			z-index: -1;
			transition: height 0.3s;
		}
	}
}

@import 'media';
