@use 'utilities' as *;

body {
	background-color: $white-color;
	background-image: url('../../dist/img/background.png');
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	color: $black-color;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	padding: 2em 0;
	width: 100%;
	height: 20svh;
	background-color: $main-color;
	transition: height 0.4s;
	z-index: 999;

	&__mobile {
		height: 100%;
		width: 100%;

		&-items {
			position: fixed;
			left: 0;
			top: 0;
			flex-direction: column;
			gap: 2em;
			width: 100%;
			height: 100%;
			font-size: clamp(2.4rem, 5vw, 3.6rem);
			background-color: $main-color;
			transform: translateX(-100%);
			transition: transform 0.4s;
			z-index: 999;
		}

		.active-mobile {
			transform: translateX(0);
		}

		&-burger {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 10px;
			padding: 0.5em 1em;
			width: 60px;
			height: 40px;
			z-index: 999;

			.bars {
				position: relative;
				width: 100%;
				height: 3px;
				border-radius: 20px;
				background-color: $black-color;

				&::before,
				&::after {
					content: '';
					position: absolute;
					height: 3px;
					width: 100%;
					border-radius: 20px;
					background-color: $black-color;
				}

				&::before {
					top: 10px;
					left: 0;
				}

				&::after {
					top: 20px;
					left: 0;
				}
			}
		}
	}

	&__items {
		display: none;
	}

	&__item {
		position: relative;
		padding: 0.5em 1em;

		&::after {
			@include underline($white-color);
			bottom: 0;
			left: 0;
			width: 100%;
			transform: translateY(100%);
			opacity: 0;
			transition: transform 0.3s, opacity 0.3s;
		}

		&:hover.nav__item::after {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&__logo {
		padding: 0.5em;
		font-size: clamp(3rem, 5vw, 5.4rem);

		&-text {
			position: relative;

			&::after {
				@include underline($white-color);
				bottom: 0;
				right: 0;
				width: 50%;
			}
		}
	}
}

.nav-scroll {
	height: 10svh;
}

.header {
	position: relative;
	min-height: 100svh;
}

// services

.services {
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 2em;
		align-items: center;
	}

	&__box{
		width: 400px;
		height: 300px;
		border: 2px solid $black-color;
		background-position: center;
		background-size: cover;
	}

	&-one {
		background-image: url('../../dist/img/services1-small.jpg');
	}
}


@import 'media';
