@use 'colors' as *;
// fonty

.serif {
	font-family: 'Playfair Display', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}

// mixins

@mixin underline($bgc) {
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 12px;
    background-color: $bgc;
}

// komponenty

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 60px;
    border: 1px solid $black-color;
    border-radius: 20px;

    .dot {
        margin-top: 0.5em;
        width: 15px;
        height: 15px;
        background-color: $main-color;
        border-radius: 50%;
    }
}

