@use 'colors' as *;
// fonty
@font-face {
	font-family: 'Luxury';
	src: url('../../fonts/Eveagita_Luxury.woff2');
}

.serif {
	font-family: 'Playfair Display', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}

// mixins

@mixin underline($bgc) {
	content: '';
	position: absolute;
	height: 3px;
	border-radius: 12px;
	background-color: $bgc;
}

// komponenty

.d-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-heading {
	margin-top: 2em;
	padding: 0 0.5em;
	font-size: clamp(3.8rem, 5vw, 8rem);
	text-align: center;
}

.heading-color {
	display: block;
	padding: 0.2em;
	background-color: $black-color;
	color: $secondary-color;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
}

.section {
	padding: 5em 2em;
	background-color: $white-color;

	&-title {
		position: relative;
		padding: 2em 0.5em;
		text-align: center;
		font-size: clamp(2.8rem, 5vw, 3.8rem);
		background-color: $white-color;
		font-weight: 400;
		overflow: hidden;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			height: 3px;
			width: 25%;
			background-color: $main-color;
			transform: translateY(-50%);
		}

		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
}

.waves {
	margin-top: 19svh;
	transform: translateY(0);
	transition: transform 0.4s;
	z-index: -1;
}

.waves-hidden {
	transform: translateY(-170%);
}

.arrow-box {
	position: absolute;
	left: 50%;
	bottom: 30px;
	width: clamp(70px, 5vw, 100px);
	height: clamp(70px, 5vw, 100px);
	border: 1px solid $black-color;
	background-color: $black-color;
	border-radius: 50%;
	transform: translateX(-50%);
}

.arrow {
	width: clamp(30px, 5vw, 40px);
	height: clamp(30px, 5vw, 40px);
	animation: arrow 2s infinite alternate;
}

@keyframes arrow {
	from {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(10px);
	}
}
