@use 'colors' as *;
// fonty

.serif {
	font-family: 'Playfair Display', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.bold {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-style: normal;
}

// mixins

@mixin underline($bgc) {
	content: '';
	position: absolute;
	height: 3px;
	border-radius: 12px;
	background-color: $bgc;
}

// komponenty

.d-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-heading {
	gap: 0.3em;
	flex-wrap: wrap;
	margin-top: 2.5em;
	width: 100%;
	padding: 0 0.5em;
	font-size: clamp(3.8rem, 5vw, 8rem);
	text-align: center;
	opacity: 0;
	transform: translateY(-100%);
	animation: heading-in 1s forwards;
}

.heading-color {
	background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
	background-clip: text;
	color: transparent;
}

.heading-box {
	padding: 0.3em;
	width: 100%;
	background-color: $black-color;
	transform: rotate(-90deg);
	border-radius: 14px;
	opacity: 0;
	animation: heading-box-in 1s 1s forwards;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
}

.section {
	padding: 5em 2em;
	background-color: $white-color;

	&-title {
		position: relative;
		padding: 2em 0.5em;
		text-align: center;
		font-size: clamp(2.8rem, 5vw, 3.8rem);
		font-weight: 200;
		overflow: hidden;

		&::after,
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			height: 3px;
			width: 25%;
			background-color: $main-color;
			transform: translateY(-50%);
		}

		&::before {
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
}

.waves {
	position: relative;
	margin-top: 1.3em;
	transition: transform 0.4s;
	z-index: -1;
}

.waves-reverse {
	margin-bottom: -1em;
	transform: rotate(180deg);
}

.waves-hidden {
	transform: translateY(-170%);
}

.arrow-box {
	position: absolute;
	left: 50%;
	bottom: 30px;
	width: clamp(70px, 5vw, 100px);
	height: clamp(70px, 5vw, 100px);
	background-color: $black-color;
	border-radius: 50%;
	transform: translateX(-50%) translateY(100%);
	opacity: 0;
	animation: arrow-in 1s 2s forwards ease;
}

.arrow {
	width: clamp(30px, 5vw, 40px);
	height: clamp(30px, 5vw, 40px);
	animation: arrow 1.2s linear infinite alternate;
}

.map {
	margin-bottom: 4em;
}

@keyframes arrow {
	from {
		transform: translateY(-10px);
	}
	to {
		transform: translateY(10px);
	}
}

@keyframes arrow-in {
	to {
		opacity: 1;
		transform: translateX(-50%) translateY(0);
	}
}

@keyframes heading-in {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes heading-box-in {
	to {
		transform: rotate(0);
		opacity: 1;
	}
}
