*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.serif {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-heading {
  gap: 0.3em;
  flex-wrap: wrap;
  margin-top: 2.5em;
  width: 100%;
  padding: 0 0.5em;
  font-size: clamp(3.8rem, 5vw, 8rem);
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
  animation: heading-in 1s forwards;
}

.heading-color {
  background-image: linear-gradient(120deg, #ffc2cc 0%, #fa738a 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.heading-box {
  padding: 0.3em;
  width: 100%;
  background-color: #222222;
  transform: rotate(-90deg);
  border-radius: 14px;
  opacity: 0;
  animation: heading-box-in 1s 1s forwards;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.section {
  padding: 5em 2em;
  background-color: #f7f7f7;
}
.section-title {
  position: relative;
  padding: 2em 0.5em;
  text-align: center;
  font-size: clamp(2.8rem, 5vw, 3.8rem);
  font-weight: 200;
  overflow: hidden;
}
.section-title::after, .section-title::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 3px;
  width: 25%;
  background-color: #ffc2cc;
  transform: translateY(-50%);
}
.section-title::before {
  left: 0;
}
.section-title::after {
  right: 0;
}

.waves {
  position: relative;
  margin-top: 1.3em;
  transition: transform 0.4s;
  z-index: -1;
}

.waves-reverse {
  margin-bottom: -1em;
  transform: rotate(180deg);
}

.waves-hidden {
  transform: translateY(-170%);
}

.arrow-box {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: clamp(70px, 5vw, 100px);
  height: clamp(70px, 5vw, 100px);
  background-color: #222222;
  border-radius: 50%;
  transform: translateX(-50%) translateY(100%);
  opacity: 0;
  animation: arrow-in 1s 2s forwards ease;
}

.arrow {
  width: clamp(30px, 5vw, 40px);
  height: clamp(30px, 5vw, 40px);
  animation: arrow 1.2s linear infinite alternate;
}

.map {
  margin-bottom: 4em;
}

@keyframes arrow {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}
@keyframes arrow-in {
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes heading-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes heading-box-in {
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
body {
  background-color: #f7f7f7;
  background-image: url("../../dist/img/background.png");
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.4rem, 5vw, 1.6rem);
  color: #222222;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2em 0;
  width: 100%;
  height: 20svh;
  background-color: #ffc2cc;
  transition: height 0.4s;
  z-index: 999;
}
.nav__mobile {
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}
.nav__mobile-items {
  position: fixed;
  left: 0;
  top: 0;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  height: 100%;
  font-size: clamp(2.4rem, 5vw, 3.6rem);
  background-color: #ffc2cc;
  transform: translateX(-100%);
  transition: transform 0.4s;
  z-index: 999;
}
.nav__mobile .active-mobile {
  transform: translateX(0);
}
.nav__mobile-burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 1em;
  width: 60px;
  height: 40px;
  z-index: 999;
}
.nav__mobile-burger .bars {
  position: relative;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: #222222;
}
.nav__mobile-burger .bars::before, .nav__mobile-burger .bars::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 20px;
  background-color: #222222;
}
.nav__mobile-burger .bars::before {
  top: 10px;
  left: 0;
}
.nav__mobile-burger .bars::after {
  top: 20px;
  left: 0;
}
.nav__items {
  display: none;
}
.nav__item {
  position: relative;
  padding: 0.5em 1em;
}
.nav__item::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 12px;
  background-color: #f7f7f7;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.nav__item:hover.nav__item::after {
  opacity: 1;
  transform: translateY(0);
}
.nav__logo {
  padding: 0.5em;
  font-size: clamp(3rem, 5vw, 5.4rem);
}
.nav__logo-text {
  position: relative;
}
.nav__logo-text::after {
  content: "";
  position: absolute;
  height: 3px;
  border-radius: 12px;
  background-color: #f7f7f7;
  bottom: 0;
  right: 0;
  width: 50%;
}

.nav-scroll {
  height: 10svh;
}

.header {
  position: relative;
  min-height: 100svh;
}

.services__container {
  gap: 2em;
  flex-wrap: wrap;
}
.services__box {
  width: 400px;
  height: 300px;
  border: 1px solid #222222;
  border-radius: 14px;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.contact h3 {
  margin-bottom: 1em;
}
.contact p {
  margin-bottom: 0.8em;
}
.contact__box, .contact__info, .contact__hours {
  flex-direction: column;
  gap: 3em;
  text-align: center;
}
.contact__hours {
  gap: 1em;
}
.contact__hours span {
  margin-left: 1.5em;
}

.footer {
  position: relative;
  gap: clamp(1em, 5vw, 3em);
  flex-wrap: wrap;
  padding: 2em;
  background-color: #ffc2cc;
  z-index: 2;
  text-align: center;
}
.footer p {
  z-index: 1;
}
.footer .link {
  position: relative;
  padding: 0.5em;
}
.footer .link:hover.link::before {
  height: 100%;
}
.footer .link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #f7f7f7;
  z-index: -1;
  transition: height 0.3s;
}

@media (min-width: 576px) {
  .contact__info {
    flex-direction: row;
    text-align: left;
  }
  .heading-box {
    width: auto;
  }
}
@media (min-width: 768px) {
  .section-title::after, .section-title::before {
    width: 40%;
  }
  .contact h3 {
    margin-bottom: 1em;
  }
  .contact__box {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .waves {
    margin-top: 0;
  }
}
@media (min-width: 850px) {
  .nav__mobile {
    display: none;
  }
  .nav__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 100%;
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    z-index: 999;
  }
}
@media (min-width: 1200px) {
  .waves-hidden {
    transform: translateY(-100%);
  }
}/*# sourceMappingURL=style.css.map */